aside.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-dark)/*#1859EB*/;
}
aside.logo img {
    padding: 0px 15px;
    width: 100%;
}
@media (max-width: 576px){
    aside.logo img{
        width: 100%;
    }
}